@{
    ViewData["Title"] = "Home Page";
}


@model UploadModel

<form asp-action="UploadFile" enctype="multipart/form-data" method="post">
    <h1>XML-Datei einfügen</h1>
    <input type="file" multiple="multiple" name="fileUpload" required />
    <input type="submit" />
</form>

@{
    ViewBag.Title = "Index";
}
