@{
    ViewData["Title"] = "Home Page";
}

<<<<<<< HEAD
@model UploadModel

<form asp-action="UploadFile" enctype="multipart/form-data" method="post">
    <h1>XML-Datei einfügen</h1>
    <input type="file" name="fileUpload" required />
    <input type="submit" />
</form>

@{
    ViewBag.Title = "Index";
}





<!--<div class="text-center">
    <!--<h1>XML-Datei einfügen<!--</h1>-->
<!--@*<div ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
        <p>Drag one or more files to this Drop Zone ...</p>
    </div>*@

    @*<input type="file" name="FileUpload" required/>*@

</div>-->
=======
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
>>>>>>> 332d876eae3c29a0ecfd6d016fd27d0627302b31
